#name-city {
    display: grid;
    place-items: center;
    padding: 25px;
}

#dropdowns {
    display: grid;
    place-items: center;
}

#images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 25px;
    gap: 25px;
}

.tropical {
    background: rgb(241, 160, 179);
}

.polar {
    background: rgb(155, 169, 225);
}

.mountain {
    background: rgb(101, 130, 109);
}

.desert {
    background: rgb(236, 221, 159);
}
