main {
    display: grid;
    grid-template-columns: 150px min-content;
    gap: 15px;
    align-items: start;
    grid-gap: 100px;
}

#edits {
    padding: 5px;
}

.edit {
    display: grid;
}

label {
    display: grid;
}

article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: rgb(155, 169, 225);
}

img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px;
    width: 20rem;
    height: 20rem;
    object-fit: cover;
}

#attraction-line {
    display: grid;
    grid-template-columns: 1fr max-content;
}

.tropical {
    background: rgb(241, 160, 179);
}

.polar {
    background: rgb(155, 169, 225);
}

.mountain {
    background: rgb(101, 130, 109);
}

.desert {
    background: rgb(236, 221, 159);
}

.mid-century {
    font-family: 'Righteous', cursive;
}

.renaissance {
    font-family: 'Cinzel', serif;
}

.victorian {
    font-family: 'Great Vibes', cursive;
}

.industrial {
    font-family: 'Prompt', sans-serif;
}
